@page "/counter"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<iframe width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.179234746395!2dYOUR_LONGITUDE_HERE!3dYOUR_LATITUDE_HERE!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3AYOUR_PLACE_NAME_HERE!2sYOUR_PLACE_NAME_HERE!5e0!3m2!1sen!2suk!4v1614732936535!5m2!1sen!2suk">
</iframe>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
