@page "/movies"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject MovieRaitingBlazorApp.Data.ApplicationDbContext DB
@using MovieRaitingBlazorApp.Components
@using Microsoft.EntityFrameworkCore
@attribute [StreamRendering]
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@attribute [Authorize]
<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">
        <button @onclick="NavigateToCreate" class="btn btn-primary"><span class="bi bi-plus-square" aria-hidden="true"></span>Create New</button>
    </a>
</p>

<QuickGrid Class="table" Items="DB.Movie" Sortable="true">
    <PropertyColumn Property="movie => movie.Title" Sortable="true" />
    <PropertyColumn Property="movie => movie.ReliseDate" Sortable="true" />
    <PropertyColumn Property="movie => movie.Rate" Sortable="true" />

    <TemplateColumn Context="movie">
        <button @onclick="@( () => NavigateToEdit(movie.Id) )" class="btn btn-primary"><span class="bi bi-pencil" aria-hidden="true"></span>Edit</button>
        <button @onclick="@( () => NavigateToDetails(movie.Id) )" class="btn btn-primary"><span class="bi bi-search" aria-hidden="true"></span>Details</button>
        <button @onclick="@( () => NavigateToDelete(movie.Id) )" class="btn btn-primary"><span class="bi bi-trash" aria-hidden="true"></span>Delete</button>

    </TemplateColumn>
</QuickGrid>

@code
{
    private void NavigateToDetails(int id)
    {
        NavigationManager.NavigateTo($"/movies/details?id={id}");
    }

    private void NavigateToEdit(int id)
    {
        NavigationManager.NavigateTo($"/movies/edit?id={id}");
    }

    private void NavigateToDelete(int id)
    {
        NavigationManager.NavigateTo($"/movies/delete?id={id}");
    }
    private void NavigateToCreate()
    {
        NavigationManager.NavigateTo("/movies/create");
    }
}
