@page "/movies"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject MovieRaitingBlazorApp.Data.ApplicationDbContext DB
@using MovieRaitingBlazorApp.Components
@using Microsoft.EntityFrameworkCore
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">
        <span class="bi bi-plus-square" style="font-size: 24px; margin-bottom: 25px" aria-hidden="true"></span>Create New
    </a>
</p>

<QuickGrid Class="table" Items="DB.Movie" Sortable="true">
    <PropertyColumn Property="movie => movie.Title" Sortable="true" />
    <PropertyColumn Property="movie => movie.ReliseDate" Sortable="true" />
    <PropertyColumn Property="movie => movie.Rate" Sortable="true" />

    <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">
            <span class="bi bi-pencil" style="font-size: 24px; margin-bottom: 25px" aria-hidden="true"></span>Edit
        </a> |
        <a href="@($"movies/details?id={movie.Id}")">
            <span class="bi bi-search" style="font-size: 24px; margin-bottom: 25px" aria-hidden="true"></span>Details
        </a> |
        <a href="@($"movies/delete?id={movie.Id}")">
            <span class="bi bi-trash" style="font-size: 24px; margin-bottom: 25px" aria-hidden="true"></span>Delete
        </a>
    </TemplateColumn>
</QuickGrid>

